@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Audiowide');

/* style header*/
#topic{
  font-family: Audiowide;
  color: white;
  text-align: center;
}
/* styles header when you hover */
#topic:hover {
  color: #00f200;
}

/*link containers*/
.home_links{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* create and style boxes for links */
.home_links a {
  /* makes the box */
  display: inline-block;
  border-style: solid;
  border-width: 10px;
  border-color: #00f200;
  background-color: white;
  padding: 75px;
  margin: 25px;
  
  /* styles the text */
  color: black;
  text-decoration: none;
  font-family: Shadows Into Light;
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}

/* styles hover over links */
.home_links a:hover {
  color: #00f200;
  padding: 100px;
  margin: 0px;
}