@import url('https://fonts.googleapis.com/css?family=Audiowide');

/* Style Header */
#topic{
  font-family: Audiowide;
  color: white;
  text-align: center;
}
  
#topic:hover {
  color: #00f200;
}

form{
  max-width: max-content;
  margin: 0 auto;
}

label{
  color: #00f200;
}