@import url('https://fonts.googleapis.com/css?family=Audiowide');

/* Style Header */
#topic{
  font-family: Audiowide;
  color: white;
  text-align: center;
}
/* styles header when you hover */
#topic:hover {
  color: #00f200;
}

form{
  max-width: max-content;
  margin: 0 auto;
}

label{
  color: #00f200;
}

.container{
  display: block;
  width: max-content;
  margin: 10px auto;
}

#back_button{
  background-color: #00f200;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#back_button:hover, #back_button:active{
  background-color: white;
  text-decoration: underline;
}